{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "YouTrack REST API",
    "description" : "YouTrack issue tracking and project management system",
    "license" : {
      "name" : "YouTrack license",
      "url" : "https://www.jetbrains.com/youtrack/buy/license.html"
    },
    "version" : "2021.3"
  },
  "servers" : [ {
    "url" : "https://youtrack.jetbrains.com:443/api"
  } ],
  "security" : [ {
    "permanentToken" : [ ]
  } ],
  "paths" : {
    "/activities" : {
      "description" : "This resource provides access to the activities with the possibility to filter them by various parameters.",
      "get" : {
        "parameters" : [ {
          "name" : "categories",
          "in" : "query",
          "description" : "",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reverse",
          "in" : "query",
          "description" : "Indicates whether the order of returning activities is from newest to oldest or the opposite.\nIf \"false\", then the oldest activity item that matches a selected filter is returned first.\nIf \"true\", then the newest activity is returned first. By default, \"false\".",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "Start timestamp of the time interval the activity timestamp belongs to.\nIf the parameter is not set, it is considered to be 0.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "End timestamp of the time interval the activity timestamp belongs to.\nIf the parameter is not set, it is considered as Long.MAX_VALUE.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "author",
          "in" : "query",
          "description" : "Parameter to filter activities by the author. The database id or login, or Hub id,\nor 'me' for the current logged in user could be specified.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "issueQuery",
          "in" : "query",
          "description" : "Issues search query. Read more about <a href=\"Search-and-Command-Attributes.xml\">search syntax</a>.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,added,author($type,id,login,name,ringId),category($type,id),field($type,customField($type,fieldType($type,id),id,localizedName,name),id,name),id,removed,target,targetMember,timestamp"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of ActivityItem",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ActivityItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/activities/{id}" : {
      "description" : "This resource provides access to the activities with the possibility to filter them by various parameters.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,added,author($type,id,login,name,ringId),category($type,id),field($type,customField($type,fieldType($type,id),id,localizedName,name),id,name),id,removed,target,targetMember,timestamp"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single ActivityItem",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActivityItem"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/activitiesPage" : {
      "description" : "This resource provides access to the any activities wrapping it to the page object.\nThe main advantage of the page in comparision to a list of activities is cursors.\nThe page provides boundary marks that allows continuing iteration over the activities from the place\nthe page is finished.",
      "get" : {
        "parameters" : [ {
          "name" : "categories",
          "in" : "query",
          "description" : "",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reverse",
          "in" : "query",
          "description" : "Indicates whether the order of returning activities is from newest to oldest or the opposite.\nIf \"false\", then the oldest activity item that matches a selected filter is returned first.\nIf \"true\", then the newest activity is returned first. By default, \"false\".",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "Start timestamp of the time interval the activity timestamp belongs to.\nIf the parameter is not set, it is considered to be 0.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "End timestamp of the time interval the activity timestamp belongs to.\nIf the parameter is not set, it is considered as Long.MAX_VALUE.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "author",
          "in" : "query",
          "description" : "Parameter to filter activities by the author. The database id or login, or Hub id,\nor 'me' for the current logged in user could be specified.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "issueQuery",
          "in" : "query",
          "description" : "Issues search query. Read more about <a href=\"Search-and-Command-Attributes.xml\">search syntax</a>.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "activityId",
          "in" : "query",
          "description" : "ID of the activity that should be included in the page. The activity is allocated to the middle of the page.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,activities($type,added,author($type,id,login,name,ringId),category($type,id),field($type,customField($type,fieldType($type,id),id,localizedName,name),id,name),id,removed,target,targetMember,timestamp),afterCursor,beforeCursor,hasAfter,hasBefore,id"
        } ],
        "responses" : {
          "200" : {
            "description" : "single ActivityCursorPage",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActivityCursorPage"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/build" : {
      "description" : "This resource provides operations with sets of builds.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of BuildBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BuildBundle"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BuildBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single BuildBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BuildBundle"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/build/{id}" : {
      "description" : "This resource provides operations with sets of builds.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single BuildBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BuildBundle"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BuildBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single BuildBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BuildBundle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/build/{id}/values" : {
      "description" : "This resource lets you work with the values in a specific set of builds (build bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,assembleDate,color($type,background,foreground,id),id,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of BuildBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BuildBundleElement"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,assembleDate,color($type,background,foreground,id),id,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BuildBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single BuildBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BuildBundleElement"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/build/{id}/values/{buildBundleElementId}" : {
      "description" : "This resource lets you work with the values in a specific set of builds (build bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,assembleDate,color($type,background,foreground,id),id,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "buildBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single BuildBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BuildBundleElement"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,assembleDate,color($type,background,foreground,id),id,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "buildBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BuildBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single BuildBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BuildBundleElement"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "buildBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "buildBundleElementId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/enum" : {
      "description" : "This resource lets you work with a set of values of the `enum` type.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of EnumBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EnumBundle"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EnumBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single EnumBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnumBundle"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/enum/{id}" : {
      "description" : "This resource lets you work with a set of values of the `enum` type.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single EnumBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnumBundle"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EnumBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single EnumBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnumBundle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/enum/{id}/values" : {
      "description" : "This resource lets you work with the values in a specific set of enumerated values (enum bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of EnumBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EnumBundleElement"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EnumBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single EnumBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnumBundleElement"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/enum/{id}/values/{enumBundleElementId}" : {
      "description" : "This resource lets you work with the values in a specific set of enumerated values (enum bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enumBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single EnumBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnumBundleElement"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enumBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EnumBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single EnumBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnumBundleElement"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enumBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "enumBundleElementId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/ownedField" : {
      "description" : "This resource provides operations with owned field bundles.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of OwnedBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OwnedBundle"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OwnedBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single OwnedBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OwnedBundle"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/ownedField/{id}" : {
      "description" : "This resource provides operations with owned field bundles.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single OwnedBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OwnedBundle"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OwnedBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single OwnedBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OwnedBundle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/ownedField/{id}/values" : {
      "description" : "This resource lets you work with the values in a specific set of owned values (owned bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,name,ordinal,owner($type,id,login,name,ringId)"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of OwnedBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OwnedBundleElement"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,name,ordinal,owner($type,id,login,name,ringId)"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OwnedBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single OwnedBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OwnedBundleElement"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/ownedField/{id}/values/{ownedBundleElementId}" : {
      "description" : "This resource lets you work with the values in a specific set of owned values (owned bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,name,ordinal,owner($type,id,login,name,ringId)"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ownedBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single OwnedBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OwnedBundleElement"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,name,ordinal,owner($type,id,login,name,ringId)"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ownedBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OwnedBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single OwnedBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OwnedBundleElement"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ownedBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "ownedBundleElementId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/state" : {
      "description" : "This resource provides operations with sets of values of the `state` type.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of StateBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/StateBundle"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StateBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single StateBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StateBundle"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/state/{id}" : {
      "description" : "This resource provides operations with sets of values of the `state` type.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single StateBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StateBundle"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StateBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single StateBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StateBundle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/state/{id}/values" : {
      "description" : "This resource lets you work with the values in a specific set of states (state bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,isResolved,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of StateBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/StateBundleElement"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,isResolved,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StateBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single StateBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StateBundleElement"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/state/{id}/values/{stateBundleElementId}" : {
      "description" : "This resource lets you work with the values in a specific set of states (state bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,isResolved,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stateBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single StateBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StateBundleElement"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,color($type,background,foreground,id),id,isResolved,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stateBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StateBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single StateBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StateBundleElement"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stateBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "stateBundleElementId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/user" : {
      "description" : "This resource lets you work with the sets of users in YouTrack.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of UserBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UserBundle"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single UserBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserBundle"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/user/{id}" : {
      "description" : "This resource lets you work with the sets of users in YouTrack.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single UserBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserBundle"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single UserBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserBundle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/user/{id}/aggregatedUsers" : {
      "description" : "This resource lets you read the list of all users that the specific bundle contains, both that were added as members of groups and individually.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,banned,email,fullName,guest,id,login,name,ringId"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of User",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/user/{id}/aggregatedUsers/{userId}" : {
      "description" : "This resource lets you read the list of all users that the specific bundle contains, both that were added as members of groups and individually.",
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "userId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/user/{id}/groups" : {
      "description" : "This resource lets you work with the user groups that are added to the specific set of users.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,allUsersGroup,id,name,ringId"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of UserGroup",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UserGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,allUsersGroup,id,name,ringId"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserGroup"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single UserGroup",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserGroup"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/user/{id}/groups/{userGroupId}" : {
      "description" : "This resource lets you work with the user groups that are added to the specific set of users.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,allUsersGroup,id,name,ringId"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userGroupId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single UserGroup",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserGroup"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userGroupId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "userGroupId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/user/{id}/individuals" : {
      "description" : "This resource lets you work with the user accounts that were added individually to a specific set of users (user bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,banned,email,fullName,guest,id,login,name,ringId"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of User",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,banned,email,fullName,guest,id,login,name,ringId"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/User"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single User",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/user/{id}/individuals/{userId}" : {
      "description" : "This resource lets you work with the user accounts that were added individually to a specific set of users (user bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,banned,email,fullName,guest,id,login,name,ringId"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single User",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "userId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/version" : {
      "description" : "This resource provides operations with version bundles.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of VersionBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/VersionBundle"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VersionBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single VersionBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionBundle"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/version/{id}" : {
      "description" : "This resource provides operations with version bundles.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single VersionBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionBundle"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VersionBundle"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single VersionBundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionBundle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/bundles/version/{id}/values" : {
      "description" : "This resource lets you work with the version values in a specific set of versions (version bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,archived,color($type,background,foreground,id),id,name,ordinal,releaseDate,released"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of VersionBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/VersionBundleElement"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,archived,color($type,background,foreground,id),id,name,ordinal,releaseDate,released"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VersionBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single VersionBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionBundleElement"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/bundles/version/{id}/values/{versionBundleElementId}" : {
      "description" : "This resource lets you work with the version values in a specific set of versions (version bundle).",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,archived,color($type,background,foreground,id),id,name,ordinal,releaseDate,released"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "versionBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single VersionBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionBundleElement"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,archived,color($type,background,foreground,id),id,name,ordinal,releaseDate,released"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "versionBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VersionBundleElement"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single VersionBundleElement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionBundleElement"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "versionBundleElementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "versionBundleElementId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/customFields" : {
      "description" : "This resource lets you work with the custom fields. In the old REST API we called them \"prototypes\".",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,fieldType($type,id),id,isAutoAttached,isUpdateable,localizedName,name,ordinal"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of CustomField",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CustomField"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,fieldType($type,id),id,isAutoAttached,isUpdateable,localizedName,name,ordinal"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomField"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single CustomField",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomField"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/customFields/{id}" : {
      "description" : "This resource lets you work with the custom fields. In the old REST API we called them \"prototypes\".",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,fieldType($type,id),id,isAutoAttached,isUpdateable,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single CustomField",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomField"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,fieldType($type,id),id,isAutoAttached,isUpdateable,localizedName,name,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomField"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single CustomField",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomField"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/customFields/{id}/fieldDefaults" : {
      "description" : "This resource lets you read and update default settings of a custom field in a project.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,bundle($type,id),canBeEmpty,defaultValues($type,id,name),emptyFieldText,id,isPublic"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single CustomFieldDefaults",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomFieldDefaults"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,bundle($type,id),canBeEmpty,defaultValues($type,id,name),emptyFieldText,id,isPublic"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomFieldDefaults"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single CustomFieldDefaults",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomFieldDefaults"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/customFields/{id}/instances" : {
      "description" : "This resource lets you read a so called instances of the custom fields - settings of the custom field in each project that uses it.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,bundle($type,id),canBeEmpty,defaultValues($type,id,name),emptyFieldText,field($type,fieldType($type,id),id,localizedName,name),id,isPublic,ordinal"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of ProjectCustomField",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectCustomField"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/customFields/{id}/instances/{projectCustomFieldId}" : {
      "description" : "This resource lets you read a so called instances of the custom fields - settings of the custom field in each project that uses it.",
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "projectCustomFieldId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/customFieldSettings/types" : {
      "description" : "This resource lets you read the list of supported types of custom fields in YouTrack.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of FieldType",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FieldType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/customFieldSettings/types/{id}" : {
      "description" : "This resource lets you read the list of supported types of custom fields in YouTrack.",
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/databaseBackup/backups" : {
      "description" : "This resource lets you access the database backup files. The user account that performs the operation\nmust have <emphasis>Low-level Read Administration</emphasis> permissions.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,creationDate,id,link,name,size"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of BackupFile",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BackupFile"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/databaseBackup/backups/{id}" : {
      "description" : "This resource lets you access the database backup files. The user account that performs the operation\nmust have <emphasis>Low-level Read Administration</emphasis> permissions.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,creationDate,id,link,name,size"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single BackupFile",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupFile"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/admin/databaseBackup/settings" : {
      "description" : "This resource lets you configure settings of the database backup.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,availableDiskSpace,backupStatus($type,backupCancelled,backupError($type,date,errorMessage,id),backupInProgress,id),id,isOn,location"
        } ],
        "responses" : {
          "200" : {
            "description" : "single DatabaseBackupSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatabaseBackupSettings"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,availableDiskSpace,backupStatus($type,backupCancelled,backupError($type,date,errorMessage,id),backupInProgress,id),id,isOn,location"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatabaseBackupSettings"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single DatabaseBackupSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatabaseBackupSettings"
                }
              }
            }
          }
        }
      }
    },
    "/admin/databaseBackup/settings/backupStatus" : {
      "description" : "This resource lets you get the status of the back up process.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,backupCancelled,backupError($type,date,errorMessage,id),backupInProgress,id"
        } ],
        "responses" : {
          "200" : {
            "description" : "single BackupStatus",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupStatus"
                }
              }
            }
          }
        }
      }
    },
    "/admin/globalSettings" : {
      "description" : "Provides operations with global application settings.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,appearanceSettings($type,dateFieldFormat($type,datePattern,id,pattern,presentation),id,timeZone($type,id,offset,presentation)),id,license($type,error,id,license,username),localeSettings($type,id,isRTL,locale($type,community,id,language,locale,name)),notificationSettings($type,emailSettings($type,id,isEnabled),id,jabberSettings($type,id,isEnabled)),restSettings($type,allowAllOrigins,allowedOrigins,id),systemSettings($type,baseUrl,id,isApplicationReadOnly,maxExportItems,maxUploadFileSize)"
        } ],
        "responses" : {
          "200" : {
            "description" : "single GlobalSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GlobalSettings"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,appearanceSettings($type,dateFieldFormat($type,datePattern,id,pattern,presentation),id,timeZone($type,id,offset,presentation)),id,license($type,error,id,license,username),localeSettings($type,id,isRTL,locale($type,community,id,language,locale,name)),notificationSettings($type,emailSettings($type,id,isEnabled),id,jabberSettings($type,id,isEnabled)),restSettings($type,allowAllOrigins,allowedOrigins,id),systemSettings($type,baseUrl,id,isApplicationReadOnly,maxExportItems,maxUploadFileSize)"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GlobalSettings"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single GlobalSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GlobalSettings"
                }
              }
            }
          }
        }
      }
    },
    "/admin/globalSettings/appearanceSettings" : {
      "description" : "This resource lets you work with the Visual settings of your YouTrack service.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,dateFieldFormat($type,datePattern,id,pattern,presentation),id,timeZone($type,id,offset,presentation)"
        } ],
        "responses" : {
          "200" : {
            "description" : "single AppearanceSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppearanceSettings"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,dateFieldFormat($type,datePattern,id,pattern,presentation),id,timeZone($type,id,offset,presentation)"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppearanceSettings"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single AppearanceSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppearanceSettings"
                }
              }
            }
          }
        }
      }
    },
    "/admin/globalSettings/license" : {
      "description" : "This resource lets you work with the license of your YouTrack service.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,error,id,license,username"
        } ],
        "responses" : {
          "200" : {
            "description" : "single License",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/License"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,error,id,license,username"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/License"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single License",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/License"
                }
              }
            }
          }
        }
      }
    },
    "/admin/globalSettings/localeSettings" : {
      "description" : "This resource lets you work with the system language settings of your YouTrack service.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id,isRTL,locale($type,community,id,language,locale,name)"
        } ],
        "responses" : {
          "200" : {
            "description" : "single LocaleSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocaleSettings"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,id,isRTL,locale($type,community,id,language,locale,name)"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LocaleSettings"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single LocaleSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocaleSettings"
                }
              }
            }
          }
        }
      }
    },
    "/admin/globalSettings/notificationSettings" : {
      "description" : "This resource lets you work with the notification settings of your YouTrack service: read and configure Email and Jabber server settings to enable notifications to users.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,emailSettings($type,id,isEnabled),id,jabberSettings($type,id,isEnabled)"
        } ],
        "responses" : {
          "200" : {
            "description" : "single NotificationSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotificationSettings"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,emailSettings($type,id,isEnabled),id,jabberSettings($type,id,isEnabled)"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NotificationSettings"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single NotificationSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotificationSettings"
                }
              }
            }
          }
        }
      }
    },
    "/admin/globalSettings/restSettings" : {
      "description" : "This resource lets you work with the Resource Sharing settings of your YouTrack service.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,allowAllOrigins,allowedOrigins,id"
        } ],
        "responses" : {
          "200" : {
            "description" : "single RestCorsSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestCorsSettings"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,allowAllOrigins,allowedOrigins,id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RestCorsSettings"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single RestCorsSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestCorsSettings"
                }
              }
            }
          }
        }
      }
    },
    "/admin/globalSettings/systemSettings" : {
      "description" : "This resource lets you work with the System settings of your YouTrack service.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,baseUrl,id,isApplicationReadOnly,maxExportItems,maxUploadFileSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "single SystemSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemSettings"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,baseUrl,id,isApplicationReadOnly,maxExportItems,maxUploadFileSize"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SystemSettings"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "single SystemSettings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemSettings"
                }
              }
            }
          }
        }
      }
    },
    "/admin/projects" : {
      "description" : "This resource provides access to projects.",
      "get" : {
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,archived,customFields,id,leader($type,id,login,name,ringId),name,shortName"
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of Project",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "template",
          "in" : "query",
          "description" : "If the `template` is not specified, then the new project will use the default settings.\n<emphasis>Optional</emphasis>. Lets you specify the template to use for the new project.\nPossible values: `scrum`, `kanban`.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "$type,archived,customFields,id,leader($type,id,login,name,ringId),name,shortName"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Project"
              }
            }
          }
        },
[...]
